boto3
cartopy
earth2studio[all] 
ipywidgets
jupyterlab-nvdashboard
makani[all] @ git+https://github.com/NVIDIA/modulus-makani.git@v0.1.0
opencv-python
ruamel.yaml
seaborn
tensorly
tensorly-torch
torch-harmonics
windpowerlib
